<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymLeaf.org"
      th:replace="~{base::Layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<section>
  <div class="container mt-5 p-5">
    <div class="row"> <!-- Moved the row to wrap both columns -->
      <!-- Image Column -->
      <div class="col-md-6 p-5 text-center offset-md-3">
        <h3>[[${message}]]</h3>
      </div>
    </div>
  </div>
</section>

<!-- Include Bootstrap JS (optional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
